body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* my added code */
  color: #0D0D0D;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  animation-name: PulsingColor;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@media (max-width: 368px) {
  body {
    display: flex;
    justify-content: center;
  }
}

@keyframes PulsingColor {
  0% {
    background-color: #D9D9D9;
  }
  25% {
    background-color: #A6A6A6;
  }
  50% {
    background-color: #737373;
  }
  75% {
    background-color: #A6A6A6;
  }
  100% {
    background-color: #D9D9D9;
  }
}

/* rest of the colors: */

/* color: #131B26;
color: #132623; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}